<!--main top-->
<div class="container">
  <div class="row profile">
    <div class="col">
      <div class="avatar avatar-top"></div>
    </div>
    <div class="col content">
      <div class="title">自己紹介</div>
      <div class="text">ログインして、自己紹介文と画像を登録しましょう！</div>
    </div>
  </div>
  <div class="row chart">
    <div class="col">
      <div class="row top-chart">
          <div class="title">スキルチャート</div>
      </div>
      <div class="row">
        <div class="skill-chart">
          見本グラフ
        </div>
      </div>
    </div>
  </div>
</div>