@import "bootstrap-sprockets";
@import "bootstrap";

/* 全体*/
// font: Roboto;

/* header */

.header {
  width: 100%;
  height: 120px;
  padding: 0px 40px;
  background-color: #1B5678;
  display: flex;
  justify-content: space-between;
  line-height: 120px;
}

#logo {
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  &:hover {
  color: #fff;
  text-decoration: none;
  }
}

.login {
  .header-btn {
    width: 152px;
    height: 53px;
    border-radius: 4px;
    padding: 16px 40px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    color: #000;
  }
}

.logout {
  .header-btn {
    width: 170px;
    height: 53px;
    border-radius: 4px;
    padding: 16px 40px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    color: #000;
  }
}

/* main */
.main {
  width: 100%;
  min-height: 100vh;
  // position: absolute;
  margin-top: 80px;
}

/* login = sessions/new */
.login-title {
  width: 144px;
  height: 48px;
  margin: 100px auto 60px;
  font-weight: 400;
  font-size: 36px;
  line-height: 48.02px;
  text-align: center;
}

.login-form {
  width: 480px;
  height: 245px;
  margin: 10px auto;
  display: flex;
  gap: 48px;
  font-weight: 400;
}

.text-field-box {
  height: 48px;
  gap: 10px;
}

.input-box {
  width: 480px;
  gap: 3px;
}

.input {
  letter-spacing: 0.15px;
}

.label {
  height: 12px;
  gap: 10px;
  font-size: 12px;
  line-height: 12px;
  color: darkgray;
  padding: 0;
}

.form_content {
  width: 480px;
  height: 19px;
  font-size: 16px;
  line-height: 19px;
  // color: #000;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  opacity: 42%;
}

.button-blue {
  width: 268px;
  height: 53px;
  border-radius: 4px;
  background-color: #1B5678;
  margin: 30px auto;
  .btn {
    // width: 108px;
    // height: 21px;
    font-size: 18px;
    line-height: 21.09px;
    padding: 16px 80px;
    color: #fff;
    background: transparent;
  }
}

/* profile-edit = users/show */
.edit-title {
  position: absolute;
  top: 200px;
  left: 558px;
  margin: 0 auto;
  width: 324px;
  height: 48px;
  font-weight: 400;
  font-size: 36px;
  line-height: 48.02px;
  text-align: center;
}

.profile-edit-form {
  width: 480px;
  height: 342px;
  position: absolute;
  top: 328px;
  left: 240px;
  margin: 0 auto;
  display: flex;
  gap: 48px;
  font-weight: 400;
}

.profile-edit-form {
  .inrtoduction {
    .input {
      height: 145px;
      margin: 0 auto;
      .label {
        padding-bottom: 7px;
      }
      .content {
        padding-bottom: 7px;
      }
    }
  }
}

.introduction-content {
  width: 480px;
  height: 95px;
  font-size: 18px;
  line-height: 19px;
  border: none;
  outline: none;;
  border-bottom: 2px solid #000;
}

.helper-text {
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.4px;
  padding-bottom: 48px;
  color: darkgray;
}

.text-field-box {
  .input-box {
    .input {
      .label {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
      }
    }
  }
}

.image_label {
  width: 202px;
  height: 32px;
  padding: 8px 24px;
  background-color: lightgray;
  border-radius: 4px;
}

.button-gray {
  width: 202px;
  height: 32px;
  border-radius: 4px;
  background-color: gray;
  margin: 30px auto;
  .btn {
    // width: 108px;
    // height: 21px;
    font-size: 14px;
    line-height: 16.41px;
    padding: 16px 80px;
    color: #000;
  }
}

.profile-edit-form {
  .button-blue {
    width: 322px;
    height: 53px;
    border-radius: 4px;
    background-color: #1B5678;
    margin: 30px auto;
    .btn {
      // width: 108px;
      // height: 21px;
      font-size: 18px;
      line-height: 21.09px;
      padding: 16px 80px;
      color: #fff;
      background: transparent;
    }
  }
}



/* skill-new = skills/new */
.skill-new-title {
  width: 560px;
  height: 48px;
  position: absolute;
  top: 200px;
  left: 469px;
  font-weight: 400;
  font-size: 36px;
  line-height: 48.02px;
  text-align: center;
}

.new-skill-form {
  width: 560px;
  height: 268px;
  position: absolute;
  top: 328px;
  left: 480px;
  margin-bottom: 3px;
  .text-field-box {
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter: 0.15px;
    color: darkgray;
  }
  .skill-form{
    color: #000;
    width: 560px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    padding: 10px 0;
  }
  select {
    color: #000;
    margin-bottom: 5px;
    width: 560px;
    border: none;
    border-bottom: 1px solid #000;
  }
  .btn-blue {
    width: 232px;
    height: 53px;
    border-radius: 4px;
    padding: 16px 80px;
    background-color: #1B5678;
    font-size: 18px;
    line-height: 21.09px;
    color: #fff;
    margin: 80px auto 0;
    display: block;
  }
}

/* top-loggedIn = users/show */
.avatar {
  width: 360px;
  height: 360px;
  border-radius: 50%;
}

.user-text {
  width: 520px;
  // height: 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000;
}

#edit-btn {
  width: 242px;
  height: 53px;
  padding: 16px 40px;
  background-color: #1B5678;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  margin-top: 32px;
}

.edit-btn {
  margin: 0 auto;
}

.chart{
  .user-chart {
    width: 400px;
    height: 151px;
    margin: 0 auto 80px;
    .title {
      width: 400px;
      height: 58px;
      margin: 0 auto 16px;
      text-align: center;
      font-weight: 700;
      font-size: 36px;
      line-height: 42.19px;
      border-bottom: 2px solid #000;
    }
  }
}

/* top = static_pages/home */
.avatar-top {
  background-color: #C4C4C4;
}



.profile {
  width: 100%;
  // height: 360px;
  padding: 80px 0;
  margin: 0 auto;
  display: flex;
  .content {
    width: 520px;
    height: 117px;
    gap: 32px;
    .title {
      width: 240px;
      height: 58px;
      font-weight: 700;
      font-size: 36px;
      line-height: 42.19px;
      border-bottom: 2px solid #000;
      margin-bottom: 32px;
    }
    .text {
      width: 520px;
      height: 27px;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #ff0000;
    }
  }
}

#avatar-img {
  border-radius: 50%;
}

.chart {
  width: 100%;
  height: 638px;
}

.top-chart {
  width: 100%;
  height: 638px;
  .title {
    width: 400px;
    height: 58px;
    margin: 0 auto 80px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    border-bottom: 2px solid #000;
  }
}

.skill-chart {
  background-color: lightgray;
  width: 1046px;
  height: 500px;
  margin: 0 auto 80px;
}


/* footer */

.footer {
  width: 100%;
  height: 40px;
  background-color: #1B5678;
  margin-top: 80px;
  p {
    padding: 0px 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
  }
}

/* form */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* skill-edit */

.by_category {
  border: solid 1px #555;
  border-radius: 10px;
  margin: 40px;
  // padding: 30px;
  .row {
    display: flex;
    position: relative;
    margin: 40px;
  }
}

.category_name {
  width: 240px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  border-bottom: solid 2px #000;
  margin-bottom: 32px;
  position: absolute;
  left: 0;
}

.new-skill-btn {
  width: 192px;
  height: 48px;
  border-radius: 4px;
  background-color: #1B5678;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  padding: 16px 40px;
  color: #fff;
  position: absolute;
  right: 0;
  margin-bottom: 32px;
  .btn {
    // width: 108px;
    // height: 21px;
    background: transparent;
  }
}

.table {
  margin: 32px 0;
  thead {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter: 0.15px;
    tr {
      th {
        padding: 16px;
        height: 56px;
      }
      .th-left {
        padding-left: 40px;
        width: 240px;
      }
      .th2 {
        width: 240px;
      }
      .th3 {
        width: 200px;
      }
    }
  }
}

.table {
  tbody {
    font-size: 14px;
    font-weight: 400;
    line-height: 20.02px;
    letter: 0.15px;
    tr {
      td {
        padding: 16px;
        height: 56px;
      }
      .th-left {
        padding-left: 40px;
        width: 240px;
      }
      .th2 {
        width: 240px;
      }
      .th3 {
        width: 200px;
        padding-top: 20px;
        .btn-update {
          width: 172px;
          height: 32px;
          border-radius: 4px;
          padding: 8px 16px;
          color: #1B5678;
          font-weight: 400;
          font-size: 14px;
          line-height: 16.41px;
          background-color: #fff;
          border: 1px solid #1B5678;
        }
        .btn-delete {
          width: 144px;
          height: 32px;
          border-radius: 4px;
          padding: 8px 16px;
          color: #fff;
          font-weight: 400;
          font-size: 14px;
          line-height: 16.41px;
          background-color: #EE6969;
        }
      }
    }
  }
}

select {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  padding: 10px;
}