@import "bootstrap-sprockets";
@import "bootstrap";

/* header */

.header {
  width: 100%;
  height: 120px;
  padding: 0px 40px;
  background-color: #1B5678;
  display: flex;
  justify-content: space-between;
  line-height: 120px;
}

#logo {
  height: 42px;
  font: Roboto;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  &:hover {
  color: #fff;
  text-decoration: none;
  }
}

.login {
  .btn {
    width: 152px;
    height: 53px;
    border-radius: 4px;
    padding: 16px 40px;
    background-color: #fff;
  }
}

/* main */

.main{
  width: 100%;
  height: 1278px;
  padding: 80px 0px;
  background-color: #ff00ff;
}

.profile {
  width: 100%;
  height: 360px;
  background-color: red;
  display: flex;
  .avator {
    background-color: orange;
  }
  .content {
    width: 520px;
    height: 117px;
    gap: 32px;
    .title {
      width: 240px;
      height: 58px;
      font: Roboto;
      font-weight: 700;
      font-size: 36px;
      line-height: 42.19px;
      border-bottom: 2px solid #000;
    }
    .text {
      width: 520px;
      height: 27px;
      font: Roboto;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #ff0000;
    }
  }
}

#avatar-img {
  border-radius: 50%;
}

.chart {
  width: 100%;
  height: 638px;
  background-color: blue;
}


/* footer */

.footer {
  width: 100%;
  height: 40px;
  background-color: #1B5678;
  p {
    padding: 0px 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
  }
}

/* form */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}