<header class="header">
  <%= link_to "My Portfolio", root_path, id: "logo" %>
  <% if logged_in? %>
    <div class="logout">
      <%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete },
                                class: "header-btn btn-lg" %>
    </div>
  <% else %>
    <div class="login">
      <%= link_to "ログイン", login_path, class: "btn btn-lg" %>
    </div>
  <% end %>
</header>